# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

# ply-specific files
parser.out
parsetab.py

# log files
log/
*.log
*.dbg
